<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profile.css">
</head>
<body>
<div class="container">
    <div class="profile-header">
        <div class="button-container">
            <button class="button" onclick="window.location.href='homepage';">Return to Home</button>
            <button class="button" onclick="window.location.href='/logout=true';">Logout</button>
        </div>
        <div class="logo-container">
            <img src="images/logo.png" alt="" class="logo">comluv.
        </div>
        <div class="image-upload">
            <label for="file-input">
                <img id="profilepic" class="profile-img" src="{{profile_picture}}" alt="Profile Picture"/>
                <div class="overlay">CHANGE IMAGE</div>
            </label>
            <input id="file-input" type="file" name="picture " onchange="uploadProfilePicture(this.files[0])" />
        </div>
        <div class="handle">
            {{#if admin_access}}
                <div>ADMIN ACCESS</div>
            {{else}}
                <div>STUDENT ACCESS</div>
        {{/if}}

        </div>
    </div>

    <div class="profile-info">
        <div class="name-container">
            <h2 class="firstname">{{firstname}}</h2> <h2 class="lastname">{{lastname}}</h2>
            <button class="edit-button" onclick="toggleEditMode()">Edit Account</button>
            <button class="delete-button" onclick="deleteProfile()">DELETE</button>
        </div>
        <p class="description">Username: <span id="accountname" class="description">{{account_name}}</span>
        </p>
        <p class="description">Email: <span id="profileemail"class="description">{{profile_email}}</span>
        </p>
    </div>

    <!-- Current Reservation Section -->
    <div class="reservation">

    {{#if admin_access}}
        {{#each admin_reservations as |a_res|}}
            <div class="reservation-item">
                <div class="name-container">
                    <h2>{{a_res.seats.occupant}}</h2>
                    <butqton class="edit-button" onclick="">Edit Reservation</butqton>
                </div>
                <p>Room ID: {{a_res.room-id}}</p>
                <p>Time Slot: {{a_res.time-format}}</p>
                <table>
                    <tbody>
                            <tr>
                                <td>Seat Number: {{a_res.seats.seat-order}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        {{/each}}
    {{else}}
        <div class="name-container">
            <h2>Current Reservation</h2>
            <button class="edit-button" onclick="toggleEditMode()">Edit Reservation</button>
        </div>
        {{#each reservations as |res|}}
            <div class="reservation-item">
                <p>Room ID: {{res.room-id}}</p>
                <p>Time Slot: {{res.time-format}}</p>
                <table>
                    <tbody>
                            <tr>
                                <td>Seat Number: {{res.seats.seat-order}}</td>
                            </tr>
                    </tbody>
                </table>
            </div>
        {{/each}}
    {{/if}}

    </div>
    <script src="scripts/profile.js"></script>
</body>
</html>
