<div class="header-item">
    <nav class="navbar navbar-expand-sm navbar-dark shadow">
        <div class="container">
            <!-- Logo section -->
            <div class="mr-auto logo">
                <img class="logo-img" src="images/logo.png" alt="">
                <a class="navbar-brand logo-text" href="homepage">comluv.</a>
            </div>

            <!-- Navigation items -->
            <div class="items">
                <ul class="navbar-nav">
                    <!-- Home link -->
                    <li class="nav-item">
                        {{#if user }}
                            <a class="nav-link active" href="homepage?user={{user}}">Home</a>

                        {{ else }}
                            <a class="nav-link" href="homepage">Home</a>
                        {{/if}}
                    </li>
                    <!-- Reserve link -->
                    <li class="nav-item">
                        {{#if user }}
                            <a class="nav-link" href="reserve_seat?user={{user}}">Reserve</a>

                        {{else}}
                            <a class="nav-link" href="reserve_seat">Reserve</a>

                        {{/if}}
                    </li>
                    <!-- About link -->
                    <li class="nav-item">
                        {{#if user }}
                            <a class="nav-link" href="homepage#about?user={{user}}">About</a>
                        {{else}}
                            <a class="nav-link" href="homepage#about">About</a>

                        {{/if}}
                    </li>
                    <!-- Profile dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user}}
                        </a>
                        <!-- Dropdown menu -->
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!-- View Profile option -->
{{#if user }}
                            <a class="dropdown-item" href="profile?user={{user}}">View Profile</a>
    <!-- Log Out option -->
    <a class="dropdown-item" href="/">Log Out</a>
{{/if}}

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
