<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="profileedit.css">
</head>
<body>


<div class="container">
    <div class="profile-header">
        <div class="button-container">
            <button class="button" onclick="window.location.href='homepage?user={{user}}';">Return to Home</button>
            <button class="button" onclick="window.location.href='/?user={{user}}';">Logout</button>
        </div>
        <div class="logo-container">
            <img src="images/logo.png" alt="" class="logo">comluv.
        </div>
        <img class="profile-img" src="{{profile_picture}}" alt="Profile Picture">
        <div class="handle">
            {{#if admin_access}}
                <div>ADMIN ACCESS</div>
            {{else}}
                <div>STUDENT ACCESS</div>
            {{/if}}
        </div>
    </div>

    <div class="profile-info">
        <div class="name-container">
            <h2 class="name" onmouseover="showTextBox('name')" onmouseout="hideTextBox('name')">{{display_name}}</h2>
            <input type="text" id="nameTextBox" class="hidden">
            <button class="edit-button" onclick="window.location.href='profile?user={{user}}';">Finish</button>
        </div>
        <p class="description">Username: <span onmouseover="showTextBox('username')" onmouseout="hideTextBox('username')">{{account_name}}</span><input type="text" id="usernameTextBox" class="hidden"></p>
        <p class="description">Email: <span onmouseover="showTextBox('email')" onmouseout="hideTextBox('email')">{{profile_email}}</span><input type="text" id="emailTextBox" class="hidden"></p>
    </div>

    <!-- Reservation Section Here -->

</div>

<div class="delete-account">
    <button class="delete-button" onclick="confirmDelete()">Delete Account</button>
</div>

<script>
    function showTextBox(id) {
        document.getElementById(id + 'TextBox').classList.remove('hidden');
    }

    function hideTextBox(id) {
        document.getElementById(id + 'TextBox').classList.add('hidden');
    }

    function confirmDelete() {
        if (confirm("Are you sure you want to delete your account?")) {
            // Proceed with deletion
            // You can add your deletion logic here
            alert("Account deleted successfully!");
        } else {
            // Do nothing or provide feedback
            alert("Account deletion canceled.");
        }
    }
</script>
</body>
</html>
